* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.choices {
  display: flex;
  gap: 20px;
}

button {
  color: black;
  border: 2px solid black;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.score {
  display: flex;
  gap: 40px;
}

.human {
  display: flex;
  gap: 10px;
}

.computer {
  display: flex;
  gap: 10px;
}

.hidden {
  display: none;
}
